.box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
    margin-right: 5%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.btn {
    text-align: center;
    padding-top: 3%;
}

.modifyNutrientsBtn {
    text-align: right;
    padding-top: 3%;
    padding-bottom: 3%;
}
