.center {
    text-align: center;
    padding: 0;
}
.backgrd {
    background-color: #292b2c;
}

.txt:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: white;
}

.white {
    color: white;
}

.footer {
    padding-top: 3%;
    padding-bottom: 2%;
}

.padd {
    padding-bottom: 3%;
    padding-top: 1.5%;
}
