.mealsContainer {
    border-style: solid;
    background-image: url('userMeals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.mealsText {
    text-align: center;
    padding-bottom: 15%;
    user-select: none;
}

.paddingMealType {
    padding-top: 5%;
}